body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  position: relative;
  list-style-type: none;
  max-width: 1440px;
  margin: auto;
}

/*Header*/
#page {
  margin: 0 0px;
}

.header {
  text-align: center;
  box-shadow: 0 2px 4px #636363cc;
  z-index: 10;
  position: relative;
}

.header__image {
  justify-content: center;
  padding-top: 10px;
  width: 155px;
}

/*loader*/

.loader {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: #7c6a92;
  backdrop-filter: blur(3px);
  color: white;
  animation: flash 3.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  opacity: 0.9;
}


.lettre {
  color: #0b0a0c;
  font-size: 58px;
  letter-spacing: 4px;
  margin-bottom: 150px;

}

@keyframes flash {
  0% {
    opacity: 100%;
    color: #9356dc;
    text-shadow: 0 0 7px white;
    transition: scale(0);
  }

  90% {
    color: #ffffff;
    text-shadow: none;
  }

  100% {
    opacity: 0%;
    visibility: hidden;
    color: #9356dc;
    text-shadow: 0 0 7px white;
    transform: scale(1);
    visibility: hidden;
  }
}

/*Section recherche*/

.search_map {
  margin: 0;
}

.search_map h4 {
  margin: 0;
}

.search_map a {
  color: black;
  text-decoration: none;
  font-weight: normal;
}

.recherche .map {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  background-color: #ececec;
  gap: 12px;
}

/* Section reservation*/

.reservation {
  background-color: #f6f6f6;
  padding: 1px 1rem 4rem 1 rem;
  text-align: center;
  height: 313px;
}

.reservation h1 {
  padding: 2.5rem 0 1.5rem 0;
  font-weight: bold;
  margin: 0;
}

.reservation p {
  margin: 15px;
}

.btn__apropos {
  padding: 20px;
}


.btn__apropos button {
  color: white;
  background: linear-gradient(164deg, #ff79da 0%, #9356dc 80%);
  border-radius: 24px;
  transition: 0.3s ease;
  border: none;
}

/*Section fonctionnement*/
.commande h2 {
  padding: 2rem 0 0 1.5rem;
}

.commande__etapes {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 5%;
}

.commande__etapes li {
  margin: 0;
  background-color: #f6f6f6;
  padding: 10px;
  border-radius: 1rem;
  display: flex;
  transition: 0.5s ease;
  position: relative;
}

.commande__etapes--numero {
  height: 29px;
  width: 30px;
  background: #9356dc;
  border-radius: 20px;
  text-align: center;
  position: absolute;
  left: -15px;
  top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.commande__etapes--numero i {
  color: #979797;
  margin: 0 1rem;
}

.icone_numero {
  display: flex;
  align-items: center;
  padding-left: 29px;
  padding-right: 19px;
}

/*Section restaurants*/
.restaurant {
  background-color: #f6f6f6;
}

.restaurant_titre {
  padding: 2rem 0 1rem 1.5rem;
}

.resto {
  display: flex;
  flex-wrap: wrap;
  padding: 0 1.5rem 0 1.5rem;
  gap: 1rem;
  padding-bottom: 1rem;
}

.resto__contenu {
  margin: 0px 10px 0px 10px;
}

.resto a {
  background-color: white;
  border-radius: 1rem;
  flex-grow: 1;
}

.resto__contenu p {
  margin-bottom: 4px;
}

.resto__image {
  position: relative;
}

.resto__image img {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
  height: 9rem;
  object-fit: cover;
  max-width: 100%;
  position: relative;
}


.resto a {
  text-decoration: none;
  color: black;
}

.resto h3 {
  font-size: 17px;
}


.resto__coeur {
  position: absolute;
  right: 2.5rem;
}

.resto__coeur i {
  position: absolute;
  bottom: 1.8rem;
  left: -1.5rem;
}

.new {
  background: #99e2d0;
  color: #3b8468;
  position: absolute;
  right: 17px;
  padding: 0.5rem;
  top: 3px;
  font-size: 14px;
}

/*Footer*/

.footer {
  display: flex;
  flex-direction: column;
  height: 170px;
  background-color: #353535;
  color: white;
  padding-left: 1.5rem;

}

.footer img {
  width: 30%;
  padding: 1rem 0 1rem 0;
  filter: invert(100%) sepia(0%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}

.footer i {
  color: white;
}

.footer__contenu__lien {
  color: white;
  text-decoration: none;
}

.footer__contenu__lien .a {

  color: white;
  text-decoration: none;
}

.footer a {
  color: white;
  text-decoration: none;
}


/*Responsive pour Desktop*/


@media screen and (min-width: 992px) {

  /*header*/
  .header__image {
    width: 155px;
  }

  /*Section fonctionnement*/


  .commande h2 {
    padding: 2rem 0 0 1.5rem;
  }

  .commande__etapes {
    padding: 0 36%;
  }

  .commande__etapes li {
    margin: 0;
    background-color: pink;
    padding: 10px;
    border-radius: 1rem;
    display: flex;
    transition: 0.5s ease;
    position: relative;
  }

  .commande__etapes--numero {
    left: -38px;
    height: 29px;
    width: 30px;
    background: #9356dc;
    border-radius: 20px;
    text-align: center;
    position: absolute;
    top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

  }


  /*Section restaurants*/

  .restaurant {
    display: flex;
    flex-direction: column;
    width: 47%;
    margin: 30px 306px;
    background-color: white;
  }

  .restaurant_titre {
    padding: 2rem 0 1rem 2.5rem;
    margin-left: -319px;
  }

  .resto__contenu {
    margin: 0px 10px 0px 10px;
  }

  .resto a {
    background-color: pink;
    border-radius: 1rem;
    flex-grow: 1;
  }

  .resto__contenu p {
    margin-bottom: 4px;
  }

  .resto__image {
    position: relative;
  }

  .resto__image img {
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    height: 9rem;
    object-fit: cover;
    max-width: 100%;
    position: relative;
  }


  .resto a {
    text-decoration: none;
    color: black;
  }

  .resto h3 {
    font-size: 17px;
  }


  .resto__coeur {
    position: absolute;
    right: 342px;
  }

  .resto a {
    text-decoration: none;
    color: black;
  }

  /*Footer*/

  .footer {
    padding-left: 21.5rem;
  }

  .footer img {
    width: 17%;
  }

}

/*Responsive pour Tablette*/

@media screen and (min-width:768px) and (max-width:991px) {


  /*Section fonctionnement*/


  .commande__etapes {
    padding: 0 14%;
  }

  /*Section restaurants*/

  .restaurant {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 31px 175px;
    background-color: white;
  }

  .restaurant_titre {
    padding: 2rem 0 1rem 1.5rem;
    margin-left: -166px;
  }

  .resto a {
    background-color: #f6f6f6;
  }

  .resto__coeur i {
    left: -11.5rem;
  }

  /*Footer*/

  .footer {
    padding-left: 13.5rem;
  }

  .footer img {
    width: 24%;
  }

}