                                                 /*PAGE ACCUEIL*/
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  position: relative;
  list-style-type: none;
  max-width: 1440px;
  margin: auto;
}

/*Header*/
#page {
  margin: 0 0px;
  transform: scale(0);
  animation: apparition 3.2s ease-in-out forwards;
}

.header {
  text-align: center;
  box-shadow: 0 2px 4px #636363cc;
  z-index: 10;
  position: relative;
}

.header__image {
  justify-content: center;
  padding-top: 10px;
  width: 155px;
}

/*loader*/

.loader {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: #7c6a92;
  backdrop-filter: blur(3px);
  color: white;
  animation: loading 3s ease-in-out forwards;
}

@keyframes apparition {
  99% {
    transform: scale(0)
  }

  100% {
    transform: scale(1)
  }

}

@keyframes loading {

  100% {
    visibility: hidden
  }

}

/* Animations des lettres*/
.lettre {
  color: #ffffff;
  font-size: 57px;
  letter-spacing: 4px;
  margin-bottom: 150px;
  animation: flash 2.2s linear infinite;
}

@keyframes flash {
  0% {
    color: #9356dc;
    text-shadow: 0 0 7px #9356dc;
  }

  90% {
    color: #ffffff;
    text-shadow: none;
  }

  100% {
    /*color: #9356dc;
    text-shadow: 0 0 7px #9356dc;*/
    display: none;
  }
}

.lettre:nth-child(1) {
  animation-delay: 0.1s;
}

.lettre:nth-child(2) {
  animation-delay: 0.2s;
}

.lettre:nth-child(3) {
  animation-delay: 0.3s;
}

.lettre:nth-child(4) {
  animation-delay: 0.4s;
}

.lettre:nth-child(5) {
  animation-delay: 0.5s;
}

.lettre:nth-child(6) {
  animation-delay: 0.6s;
}

.lettre:nth-child(7) {
  animation-delay: 0.7s;
}

.lettre:nth-child(8) {
  animation-delay: 1s;
}


/*Section recherche*/

.search_map {
  margin: 0;
}

.search_map h4 {
  margin: 0;
}

.search_map a {
  color: black;
  text-decoration: none;
  font-weight: normal;
}

.recherche .map {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  background-color: #ececec;
  gap: 12px;
}

/* Section reservation*/

.reservation {
  background-color: #f6f6f6;
  padding: 1px 1rem 4rem 1 rem;
  text-align: center;
  height: 313px;
}

.reservation h1 {
  padding: 2.5rem 0 1.5rem 0;
  font-weight: bold;
  margin: 0;
}

.reservation p {
  margin: 15px;
}

.btn__apropos {
  padding: 20px;
}


.btn__apropos button {
  color: white;
  background: linear-gradient(164deg, #ff79da 0%, #9356dc 80%);
  border-radius: 24px;
  transition: 0.3s ease;
  border: none;
  cursor: pointer;
}

.btn__apropos :hover {
  filter: brightness(1.1);
  box-shadow: rgb(50 50 93 / 25%) 0px 30px 60px -12px, rgb(0 0 0 / 30%) 0px 18px 36px -18px;
  transition: 0.3s ease;

}

/*Section fonctionnement*/
.commande h2 {
  padding: 2rem 0 0 1.5rem;
}

.commande__etapes {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 5%;
  cursor: pointer;
}

.commande__etapes li {
  margin: 0;
  background-color: #f6f6f6;
  padding: 10px;
  border-radius: 1rem;
  display: flex;
  transition: 0.5s ease;
  position: relative;
  box-shadow: 1px 1px 2px 2px lightgrey;
  font-size: 15px;
  font-weight: bold;
}

.commande__etapes li:hover {
  opacity: 0.3;
  background-color: #c8a7ef;

}

.commande__etapes--numero {
  height: 29px;
  width: 30px;
  background: #9356dc;
  border-radius: 20px;
  text-align: center;
  position: absolute;
  left: -7px;
  top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.commande__etapes--numero i {
  color: #979797;
  margin: 0 1rem;
}

.icone_numero {
  display: flex;
  align-items: center;
  padding-left: 29px;
  padding-right: 19px;
}

/*Section restaurants*/
.restaurant {
  background-color: #f6f6f6;
}

.restaurant_titre {
  padding: 2rem 0 1rem 1.5rem;
}

.resto {
  display: flex;
  flex-wrap: wrap;
  padding: 0 1.5rem 0 1.5rem;
  gap: 1rem;
  padding-bottom: 1rem;
}

.resto__contenu {
  margin: 0px 10px 0px 10px;
}

.resto a {
  background-color: white;
  border-radius: 1rem;
  flex-grow: 1;
}

.resto__contenu p {
  margin-bottom: 4px;
}

.resto__image {
  position: relative;
}

.resto__image img {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
  height: 9rem;
  object-fit: cover;
  max-width: 100%;
  position: relative;
}


.resto a {
  text-decoration: none;
  color: black;
}

.resto h3 {
  font-size: 17px;
}


.resto__coeur {
  position: absolute;
  right: 2.5rem;
}

.resto__coeur i {
  position: absolute;
  bottom: 1.8rem;
  left: -1.5rem;
}


.resto__coeur .resto__coeurvide {
  position: absolute;
  bottom: 1.8rem;
  left: -1.5rem;
}

.resto__coeur .resto__coeurvide:hover {
  color: transparent;
  transition: all 0.5s;
  color: transparent;
  background: linear-gradient(164deg, #ff79da 0%, #9356dc 80%);
  -webkit-background-clip: text;
  font-weight: bold;
  transition: color 0s;


}

.resto__coeur .resto__coeurplein {
  position: absolute;
  left: 0rem;
  -webkit-background-clip: text;
  opacity: 0;
  color: transparent;
  transition: all 0.5s;

}

.resto__coeur .resto__coeurplein:hover {
  opacity: 1;
  transition: all 0.5s;

}

.new {
  background: #99e2d0;
  color: #3b8468;
  position: absolute;
  right: 17px;
  padding: 0.5rem;
  top: 3px;
  font-size: 14px;
}

/*Footer*/

.footer {
  display: flex;
  flex-direction: column;
  height: 170px;
  background-color: #353535;
  color: white;
  padding-left: 1.5rem;

}

.footer img {
  width: 30%;
  padding: 1rem 0 1rem 0;
  filter: invert(100%) sepia(0%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}

.footer i {
  color: white;
}

.footer__contenu {
  display: flex;
  flex-direction: column;
  gap: 3px;
} 


.footer__contenu__lien {
  color: white;
  text-decoration: none;
}

.footer__contenu__lien .a {

  color: white;
  text-decoration: none;
}

.footer a {
  color: white;
  text-decoration: none;
}


/*Responsive pour Desktop*/


@media screen and (min-width: 992px) {

  /*header*/
  .header__image {
    width: 155px;
  }

  /*Section fonctionnement*/


  .commande h2 {
    padding: 2rem 0 0 1.5rem;
  }

  .commande__etapes {
    padding: 0 36%;
  }

  .commande__etapes li {
    margin: 0;
    background-color: pink;
    padding: 10px;
    border-radius: 1rem;
    display: flex;
    transition: 0.5s ease;
    position: relative;
  }

  .commande__etapes--numero {
    left: -38px;
    height: 29px;
    width: 30px;
    background: #9356dc;
    border-radius: 20px;
    text-align: center;
    position: absolute;
    top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

  }


  /*Section restaurants*/

  .restaurant {
    display: flex;
    flex-direction: column;
    width: 47%;
    margin: 30px 306px;
    background-color: white;
  }

  .restaurant_titre {
    padding: 2rem 0 1rem 2.5rem;
    margin-left: -319px;
  }

  .resto__contenu {
    margin: 0px 10px 0px 10px;
  }

  .resto a {
    background-color: pink;
    border-radius: 1rem;
    flex-grow: 1;
  }

  .resto__contenu p {
    margin-bottom: 4px;
  }

  .resto__image {
    position: relative;
  }

  .resto__image img {
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    height: 9rem;
    object-fit: cover;
    max-width: 100%;
    position: relative;
  }


  .resto a {
    text-decoration: none;
    color: black;
  }

  .resto h3 {
    font-size: 17px;
  }


  .resto__coeur {
    position: absolute;
    right: 342px;
  }

  .resto__coeur .resto__coeurvide {
    position: absolute;
    bottom: 0.8rem;
    left: -7.5rem;
  }




  .resto__coeur .resto__coeurvide:hover {
    color: transparent;
    transition: all 0.5s;
    color: transparent;
    background: linear-gradient(164deg, #ff79da 0%, #9356dc 80%);
    -webkit-background-clip: text;
    font-weight: bold;
    transition: color 0s;


  }

  .resto__coeur .resto__coeurplein {
    position: absolute;
    left: 0rem;
    -webkit-background-clip: text;
    opacity: 0;
    color: transparent;
    transition: all 0.5s;

  }

  .resto__coeur .resto__coeurplein:hover {
    opacity: 1;
    transition: all 0.5s;
  }

  .resto__coeur i {
    position: absolute;
    bottom: 1.8rem;
    left: -7.5rem;
  }

  .resto a {
    text-decoration: none;
    color: black;
  }

  /*Footer*/

  .footer {
    padding-left: 21.5rem;
  }

  .footer img {
    width: 17%;
  }


}

/*Responsive pour Tablette*/

@media screen and (min-width:768px) and (max-width:991px) {


  /*Section fonctionnement*/


  .commande__etapes {
    padding: 0 14%;
  }

  /*Section restaurants*/

  .restaurant {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 31px 175px;
    background-color: white;
  }

  .restaurant_titre {
    padding: 2rem 0 1rem 1.5rem;
    margin-left: -166px;
  }

  .resto a {
    background-color: #f6f6f6;
  }

  .resto__coeur i {
    left: -11.5rem;
  }

  .resto__coeur .resto__coeurvide {
    position: absolute;
    bottom: 0.8rem;
    left: -11.5rem;
  }




  .resto__coeur .resto__coeurvide:hover {
    color: transparent;
    transition: all 0.5s;
    color: transparent;
    background: linear-gradient(164deg, #ff79da 0%, #9356dc 80%);
    -webkit-background-clip: text;
    font-weight: bold;
    transition: color 0s;


  }

  .resto__coeur .resto__coeurplein {
    position: absolute;
    left: 0rem;
    -webkit-background-clip: text;
    opacity: 0;
    color: transparent;
    transition: all 0.5s;

  }

  .resto__coeur .resto__coeurplein:hover {
    opacity: 1;
    transition: all 0.5s;
  }

  /*Footer*/

  .footer {
    padding-left: 13.5rem;
  }

  .footer img {
    width: 24%;
  }

}

                                              /*MENUS*/

.page {
  display: flex;
  flex-direction: column;
}
                                             /*Header*/
.header{
  text-align: center;
  box-shadow: 0 2px 4px #636363cc;
  z-index: 2;
  position: relative;
}

.header__image__image {
  justify-content: center;
  padding-top: 10px;
  width: 137px;
}

.header a{
  color: black;
  text-decoration: none;
}

.header i {
  position: absolute;
  left: 52px;
  bottom: 9px;
}
                                                    /*Menu*/
.page main {
  flex-grow: 1;
}

.main_menu {
  background-color: #f6f6f6;
}

.image{
  margin: 0 0 -0.3rem 0;
}

.image img {
  height: 241px;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  position: relative;
}

.main_menu_titre {
  display: flex;
  align-items: center;
  border-radius: 45px 45px 0 0;
  position: relative;
  bottom: 3rem;
  background-color: #f6f6f6;
  gap: 37px;
}

.main_menu_titre  {
  padding: 1rem;
}

.main_menu_titre h1 {
  font-family: 'Shrikhand';
  font-weight: lighter;
  margin-bottom: 0px;
  margin-top: 16px;
  font-size: 29px;
}

.main_menu_titre .gradient_heart {
  font-size: 24px;
  padding-top: 20px;
}

.gradient_heart:hover {
  cursor: pointer;
  animation: gradientheart 1s;
  animation-fill-mode: forwards;
}

.gradient_heart {
  margin-right: 30px;
}

@keyframes gradientheart {
  0% {
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  }

  100% {
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  }
}

                                                /*Section*/
.carte {
  display: display;
  flex-direction: column;
  gap: 4px;
  padding: 0 5%;
  cursor: pointer;
}

.carte__menu {
  width: 95%;
  margin:auto;
  gap: 1rem;
  padding-top: 2rem;
}

.carte__menu h2 {
  margin-bottom: 1.5rem;
}

.underline {
  display: inline-block;
  border-bottom: 3px solid #99e2d0;
  padding-bottom: 5px;
  width: 4rem;
}

.carte__menu__plat .anim-1 {
  animation-delay: 0.2s;
}
.carte__menu__plat:hover {
  cursor: pointer;
}

.carte__menu__plat {
  display: flex;
  background-color: white;
  overflow: hidden;
  margin-right: auto;
  box-shadow: 0 5px 16px #0000002e;
  border-radius: 1rem;
  position: relative;
  animation-duration: 1s;
  animation-name: appear;
  animation-fill-mode: both;
  margin-top: 17px;
  height: 76px;
}
@keyframes appear {
0% {
  opacity: 0;
  transform:translateY(70px);
}
100% {
  opacity: 1;
  transform: translateY(0px);
}
}

.carte__menu__plat p .carte__menu__plat_prix_nom_titre {
  margin: 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-left: 20px;
}

.carte__menu__plat_prix_nom p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.carte__menu__plat_prix {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-left: 10px;
  width: 93%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.carte__menu__plat_prix_nom {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.carte_menu_plat_prix-prix {
  font-weight: bold;
  justify-content: center;
  display: flex;
  transition-duration: 0.5s;
}


.carte__menu__plat_cache {
  position: absolute;
  background-color: #99e2d0;
  display: flex;
  align-items: center;
  border-radius: 0 1rem 1rem 0;
  width: 65px;
  height: 100%;
  overflow: hidden;
  transform: translateX(66px);
  transition-duration: 0.1s;
  justify-content: center;
  top: 0;
  right: 0;
  bottom: 0;

}
.carte__menu__plat:hover .carte_menu_plat_prix-prix {
  margin-right: 65px;
  transition: 0.5s ease-in-out;
}

.carte__menu__plat:hover .carte__menu__plat_cache {
 transform: translateX(0px);
 transition: 0.5s ease-in-out;
}
.carte__menu__plat_cache i:hover {
  animation: bigger_size 0.8s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.carte__menu__plat_cache i {
  animation: upscale 0.5s;
  color: white;
  margin: auto;
  border-radius: 100%;
}

@keyframes quarter-spin {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}

.carte__menu__plat_cache i:hover {
  animation: quarter-spin 1s ease-in-out;
}

.carte__menu__plat .anim-2 {
  animation-delay: 0.4s;
}

.carte__menu__plat .anim-3 {
  animation-delay: 0.6s;
}

.carte__menu__plat .anim-3 {
  animation-delay: 0.8s;
}

.carte__menu__plat .anim-3 {
  animation-delay: 1s;
}

.carte__menu__plat .anim-3 {
  animation-delay: 1.2s;
}

.carte__menu__plat .anim-3 {
  animation-delay: 1.4s;
}

.carte__menu__plat .anim-3 {
  animation-delay: 1.6s;
}

.carte__menu__plat .anim-3 {
  animation-delay: 1.8s;
}

.carte__menu__plat .anim-3 {
  animation-delay: 2.0s;
}
                                                     /*Commander*/
.btn__commander {
  padding: 45px;
  text-align: center;
}

.btn__commander p {
  margin: 9px;
  width: 100px;
}


.btn__commander button {
  color: white;
  background: linear-gradient(164deg, #ff79da 0%, #9356dc 80%);
  border-radius: 24px;
  transition: 0.3s ease;
  border: none;
  cursor: pointer;
}

.btn__commander :hover {
  filter: brightness(1.1);
  box-shadow: rgb(50 50 93 / 25%) 0px 30px 60px -12px, rgb(0 0 0 / 30%) 0px 18px 36px -18px;
  transition: 0.3s ease;

}

/*Responsive pour Desktop*/


@media screen and (min-width: 992px) {

  
  .carte__menu__plat {
    width: 50%;
 

  }

  .main_menu_titre_coeur i {
    position: absolute;
    right: 60rem;
    cursor: pointer;
  }
  
  .btn__commander {
    padding: 45px;
    margin-right: 35rem;
  }

  .footer {
    padding-left: 3rem;
  }
}

/*Responsive pour Tablette*/

@media screen and (min-width:768px) and (max-width:991px) {

  .carte__menu__plat {
    width: 50%;
   
  }


  .main_menu_titre_coeur i {
    position: absolute;
    right: 60rem;
    cursor: pointer;
  }
  
  .btn__commander {
    padding: 45px;
    margin-right: 35rem;
  }

  .footer {
    padding-left: 3rem;
  }
}

